= semantic_form_for @event do |f|
  = render "shared/error_messages", :target => @event
  = f.inputs do
    = f.input :name
    = f.input :location
    = f.input :start_datetime, :as => :string, :input_html => { :class => "datetimepicker" }
    = f.input :end_datetime,   :as => :string, :input_html => { :class => "datetimepicker" }
    = f.input :description, :as => :text
    = f.input :contact_name
    = f.input :contact_email
    = f.input :contact_phone
    = f.input :workgroup_name, :hint => "Provide this if this is a workgroup event"
    = f.input :event_type, :as => :radio, :collection => Event::Types::ALL, :hint => "Unofficial events will only be posted to the secondary Google calendar. Official events will go to the official Google calendar as well as Facebook and Twitter. Special Events should reference a GA date, and the minutes of the GA should be double-checked to confirm this was a consensus decision."
    = f.input :ga_consensus_date, :as => :string, :input_html => { :class => "datepicker" }, :label => "Date of GA Consensus Decision", :hint => "Leave blank if this is not a consensed event."
  = f.buttons
:javascript
  $(document).ready(function() {
    $(".datetimepicker").datetimepicker({ ampm: true });
    $(".datepicker").datepicker();
  });
