- @title = "View Event"
%h2== #{@event.status.titleize} #{@event.event_type.gsub(/\sevent/i, "" )} Event: #{@event.name}
%dl
  %dt Date
  %dd== #{@event.start_datetime} - #{@event.end_datetime}
  %dt Location
  %dd= @event.location
  %dt Description
  %dd= @event.description
  - if user_signed_in?
    %dt Contact
    %dd
      = mail_to @event.contact_name, @event.contact_email
      == (#{@event.contact_phone})
  - unless @event.ga_consensus_date.blank?
    %dt GA Consensed on
    %dd= @event.ga_consensus_date
  - if @event.approver
    %dt== Event #{@event.status} by
    %dd= @event.approver.full_name
  - if @event.approved_at
    %dt== Event #{@event.status} on
    %dd= @event.approved_at
  - unless @event.facebook_id.blank?
    %dt Facebook ID
    %dd= @event.facebook_id
  - unless @event.google_id.blank?
    %dt Google Calendar ID
    %dd= @event.google_id
  - unless @event.twitter_id.blank?
    %dt Twitter ID
    %dd= @event.facebook_id
%ul.horizontal.footer
  - if user_signed_in?
    %li= link_to "Edit", edit_event_path(@event)
    %li= link_to "Approve", approve_event_path(@event), :method => :put
    %li= link_to "Dismiss", dismiss_event_path(@event), :method => :put
  %li= link_to "Back", events_path
