- @title = "Users"
%table
  %th Name
  %th Email
  %th Superadmin
  %th
  - @users.each do |user|
    %tr
      %td= user.full_name
      %td= user.email
      %td= "X" if user.superadmin?
      %td
        = link_to 'Show', user
        = link_to 'Edit', edit_user_path(user)
        = link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete 
%ul.horizontal.footer
  %li= link_to "Back", events_path
  %li= link_to "Invite", new_user_invitation_path